a {text-decoration: none; color: #000;}
a:hover {text-decoration: underline;}
table {width: 100%;}
table td:first-child {width: 96px; text-align: center;}
table td:nth-child(3), table th:nth-child(3) {text-align: right;}
table img {max-width: 96px; max-height: 96px;}
tbody td {min-height: 96px;}
ul {list-style-type: none; padding: 0; margin: 0;}
li {padding: 5px 10px;}
li.active {background: #2980b9;}
li.active a {cursor: default; color: #fff;}
.cat-container h2 {padding-left: 10px;}
.cat-container .clear {margin-bottom: 10px;}
.paginator {width: 100%; margin: 10px 0;}
.paginator a {font-size: 1.5em; padding: 10px 20px; display: inline-block;}
.paginator a:hover {background: #ddd;text-decoration: none;}
.paginator li {display: inline-block; padding: 0; border: 1px solid #ccc;border-right: 0;}
.paginator li.active a {background: #2980b9;}
.paginator li:last-child {border-right: 1px solid #ccc;}